@tailwind base;
@tailwind components;
@tailwind utilities;


/* 브라우저의 스크롤바를 숨기는 CSS */
  html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  html::-webkit-scrollbar, 
  body::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;  
  }
